@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #cab0bc;
  --secondary-color: #b18d99;
  --text-dark: #3f3b57;
  --text-light: #908ca3;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;
}

.section__subheader {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  line-height: 3.5rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ------------------------------- MENÚ ---------------------------------------  */

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-dark);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__logo {
  display: flex; /* Hace que los elementos estén uno al lado del otro */
  align-items: center; /* Alinea verticalmente ícono y texto */
  gap: 0.5rem; /* Añade espacio entre el ícono y el texto */
}

.logo-icon {
  width: 44px; /* Ajusta el tamaño del ícono */
  height: auto; /* Mantiene la proporción del ícono */
}

/* ------------------------------- INICIO ---------------------------------------  */

.header {
  padding-block: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/cosmetologist-applying-mask-face-client-beauty-salon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  color: var(--white);
  line-height: 5rem;
  text-align: left;
}

.header__container h1 span {
  font-size: 5.5rem;
  text-align: left;
}

.header__container p {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-family: var(--header-font);
  color: var(--white);
  text-align: left;
}

/* ------------------------------- BENEFICIOS ---------------------------------------  */

.intro__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.intro__card {
  text-align: center;
}

.intro__card div {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro__card div img {
  width: unset;
  height: 175px;
  border-radius: 5px;
}

.intro__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.intro__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.intro__card a {
  display: inline-block;
  padding: 0.5rem 2rem;
  /* border: 2px solid; */
  border-radius: 5rem;
  transition: 0.3s;
  background-color: var(--secondary-color);
  color: var(--white);
  transition: 0.3s ease;
}

.intro__card a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* ------------------------------- SOBRE NOSOTROS ---------------------------------------  */

.about__row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
}

.about__row:nth-child(3) {
  margin-top: 4rem;
}

.about__image {
  flex: 1;
  max-width: 400px;
  margin-inline: auto;
}

.about__content {
  flex: 1;
  text-align: center;
}

.about__content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.about__content span img {
  max-width: 40px;
}

.about__row:nth-child(3) .about__content span {
  background-color: #fdf2d9;
}

.about__row:nth-child(4) .about__content span {
  background-color: #e8f7fe;
}

.about__row:nth-child(5) .about__content span {
  background-color: #fbebf1;
}

.about__content h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 3rem;
}

.about__content p {
  max-width: 450px;
  margin-inline: auto;
  color: var(--text-light);
}

/* ------------------------------- PRODUCTOS ---------------------------------------  */

.product {
  position: relative;
  isolation: isolate;
}

.product::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}

.product__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.product__card h4 {
  margin-block: 1rem 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.product__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.product__card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

/* ------------------------------- SERVICIOS ---------------------------------------  */

.services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 3rem;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.service-item.service-reverse {
  flex-direction: row-reverse;
}

.service-image {
  flex: 1;
  max-width: 500px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 0 #0007; */
}

.service-content {
  flex: 1;
  text-align: left;
}

.service-content h3 {
  font-size: 2.5rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  font-weight: 300;
}

.service-content p {
  font-size: 1.1rem;
  color: var(--text-light);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(203, 176, 188, 0.4);
}

@media screen and (max-width: 768px) {
  .service-item {
    flex-direction: column;
    text-align: center;
  }

  .service-item.service-reverse {
    flex-direction: column;
  }

  .service-image {
    max-width: 100%;
  }
}

/* Estilos generales */
.treatment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.treatment-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.treatment-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.treatment-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-color);
}

.treatment-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.treatment-info p {
  font-size: 1rem;
  color: var(--text-light);
  margin: 0.5rem 0;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

/* ------------------------------- TESTIMONIOS ---------------------------------------  */
.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 20px;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card i {
  font-size: 2.5rem;
  color: #68442a;
}

.card p {
  font-size: 1.1rem;
  /* font-weight: 500; */
  color: #9e6752;
  line-height: 1.5rem;
}

.card hr {
  width: 120px;
  margin: auto;
  color: var(--text-light);
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.card .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #68442c;
  transition: 0.3s;
}

/* Estilos para dispositivos grandes ya definidos */
.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 20px;
}

/* Adaptación para pantallas móviles */
@media screen and (max-width: 768px) {
  .testimonials__grid {
    grid-template-columns: 1fr; /* Mostrar una tarjeta por fila */
    gap: 1.5rem; /* Espacio entre tarjetas */
    padding: 15px; /* Reducir el padding para dispositivos pequeños */
  }
}

/* Estilos adicionales para pantallas muy pequeñas (menores de 480px) */
@media screen and (max-width: 480px) {
  .testimonials__grid {
    padding: 2px;
    margin-top: 20px;
  }
}

/* ------------------------------- FAQ ---------------------------------------  */
.faq_box {
  padding: 2rem;
}

.collapsible {
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: left;
  position: relative;
  transition: background-color 0.3s ease;
}

.collapsible:hover {
  background-color: #f0f0f0;
}

.collapsible:after {
  content: "\002B";
  font-size: 1.5rem;
  color: var(--text-dark);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.collapsible.active:after {
  content: "\2212";
}

.faqcontent {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.5rem;
  transition: max-height 0.4s ease-out;
  background-color: #fff;
}

.faqcontent p {
  color: #555;
  margin: 1rem 0;
  line-height: 1.6;
}

.faqcontent a {
  color: var(--color-principal);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .collapsible:after {
    right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .collapsible:after {
    right: 5px;
  }

  .faq_box {
    padding: 0;
    margin: auto;
  }
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

/* .header p {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-principal);
} */

/* .header h2 {
  font-size: 2rem;
  color: var(--text-dark);
} */

/* ------------------------------- REDES SOCIALES ---------------------------------------  */

.instagram__container p {
  max-width: fit-content;
  margin-bottom: 1rem;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: #e6e3fa;
  border-radius: 5rem;
}

.instagram__container .section__header {
  padding-bottom: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--text-light);
}

.instagram__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ------------------------------- FOOTER ---------------------------------------  */

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo a {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
}

.footer__col form {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 5rem;
}

.footer__col form input {
  padding-inline: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: transparent;
}

.footer__col form button {
  padding: 0.25rem 1.5rem;
  outline: none;
  border: none;
  color: var(--text-dark);
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
}

.footer__socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer__socials a {
  display: inline-block;
  padding: 5px 8px;
  font-size: 1.125rem;
  color: var(--text-dark);
  background-color: var(--primary-color);
  border-radius: 100%;
}

.footer__bar {
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--text-dark);
  text-align: center;
  background-color: var(--primary-color);
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */

@media (width > 540px) {
  /* .header__content h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .header__content h1 span {
    font-size: 4rem;
  } */

  .intro__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .instagram__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: sticky;
    top: 0; /* Posición en la parte superior */
    padding: 1.5rem 10rem;
    /* max-width: var(--max-width); */
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 1.5rem;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

  .intro__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__row {
    flex-direction: row;
    align-items: center;
  }

  .about__row:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about__image {
    max-width: unset;
    margin-inline: auto;
  }

  .about__content {
    text-align: left;
  }

  .product__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .product::before {
    /* width: 100%; */
    height: 65%;
  }
}

/*----------------------------- SCROLLBAR ---------------------------*/

::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

/* Estilo del fondo de la scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--white); /* Color del fondo */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de la parte que se desplaza */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color de la scrollbar */
  border-radius: 10px;
  border: 3px solid var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-light); /* Cambia de color al hacer hover */
  border: 3px solid var(--text-light);
}

/*----------------------------- CONTACTO ---------------------------*/

.contact__section {
  background-color: #f9f9f9;
  padding: 4rem 1rem;
}

.contact__header {
  text-align: center;
  margin-bottom: 3rem;
}

.contact__header h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-principal);
}

.contact__header p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
}

/* Contenedor de Contacto */
.contact__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

/* Formulario de Contacto */
.contact__form form {
  display: grid;
  gap: 1.5rem;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.form__group input,
.form__group textarea {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  resize: none;
}

.form__group input:focus,
.form__group textarea:focus {
  outline: none;
  border-color: #333;
}

.submit__btn {
  background-color: var(--primary-color);
  color: #110d0d;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit__btn:hover {
  background-color: var(--white);
}

/* Mapa */
.contact__map {
  width: 100%;
  height: 400px;
}

.contact__map iframe {
  border-radius: 10px;
}

/* Responsividad */
@media (max-width: 900px) {
  .contact__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .contact__header h2 {
    font-size: 2rem;
  }

  .contact__header p {
    font-size: 1rem;
  }

  .contact__map {
    height: 250px;
  }

  .submit__btn {
    width: 100%;
    padding: 1rem;
  }
}

/*----------------------------- TESTIMONIOS ---------------------------*/

.client__container {
  position: relative;
  isolation: isolate;
}

.client__card {
  position: relative;
  isolation: isolate;
  margin-top: 4rem;
  display: none;
  animation: fadeEffect 1s;
}

.client__card.active {
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swiper {
  padding-block: 4rem;
  width: 100%;
}

.swiper-slide {
  min-width: 375px;
}

.client__card img {
  max-width: 400px;
  border-radius: 2rem;
  box-shadow: 30px -30px 0px rgba(0, 0, 0, 0.1);
}

.client__content {
  padding: 2rem;
  background-color: var(--white);
  border-left: 5px solid var(--primary-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5rem);
}

.client__content h4 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.client__content h5 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
}

.client__content p {
  color: var(--text-dark);
}

.client__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.client__btns .btn {
  padding: 10px 12px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.client__btns .btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

@media (width > 768px) {
  .client__btns {
    position: absolute;
    top: 15rem;
    right: 1rem;
    margin-top: 0;
  }
}

@media (width > 540px) {
  .client__content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-left: 2rem;
    width: 75%;
  }

  .client__btns {
    margin-top: 2rem;
  }
}

/* ---------------------------------------------------------------------------------- */
