@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #e4c087;
  --secondary-color: #dfa344;
  --text-dark: #3f3b57;
  --text-light: #908ca3;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;
}

.section__subheader {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  line-height: 3.5rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ------------------------------- MENÚ ---------------------------------------  */

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-dark);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon {
  width: 44px;
  height: auto;
}

/* ------------------------------- INICIO ---------------------------------------  */

.header {
  padding-block: 5rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("../assets/inicio.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-color);
  line-height: 5rem;
  text-align: left;
}

.header__container h1 span {
  font-size: 5.5rem;
  text-align: left;
}

.header__container p {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-family: var(--header-font);
  color: var(--white);
  text-align: left;
}

/* ------------------------------- BENEFICIOS ---------------------------------------  */

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.benefit-card {
  text-align: center;
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.benefit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.benefit-icon {
  font-size: 3.5rem;
  color: #cab0bc;
  background: #f2e8ec;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.benefit-card h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3f3b57; /* Más oscuro para contraste */
  margin-bottom: 0.5rem;
}

.benefit-card p {
  font-size: 1rem;
  color: var(--text-light);
}

/* ------------------------------- SOBRE NOSOTROS ---------------------------------------  */

.about__row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
}

.about__row:nth-child(3) {
  margin-top: 4rem;
}

.about__image {
  flex: 1;
  max-width: 400px;
  margin-inline: auto;
}

.about__content {
  flex: 1;
  text-align: center;
}

.about__content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.about__content span img {
  max-width: 40px;
}

.about__row:nth-child(3) .about__content span {
  background-color: #fdf2d9;
}

.about__row:nth-child(4) .about__content span {
  background-color: #e8f7fe;
}

.about__row:nth-child(5) .about__content span {
  background-color: #fbebf1;
}

.about__content h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 3rem;
}

.about__content p {
  max-width: 450px;
  margin-inline: auto;
  color: var(--text-light);
}

/* ------------------------------- PRODUCTOS ---------------------------------------  */

.product {
  position: relative;
  isolation: isolate;
}

.product::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fae8c8;
  z-index: -1;
}

.product__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2.5rem;
}

.product__card h4 {
  margin-block: 1rem 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.product__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.product__card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: end;
}

/* ------------------------------- SERVICIOS ---------------------------------------  */

.services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 3rem;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.service-item.service-reverse {
  flex-direction: row-reverse;
}

.service-image {
  flex: 1;
  max-width: 500px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 0 #0007; */
}

.service-content {
  flex: 1;
  text-align: left;
}

.service-content h3 {
  font-size: 2.5rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  font-weight: 300;
}

.service-content p {
  font-size: 1.1rem;
  color: var(--text-light);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(203, 176, 188, 0.4);
}

@media screen and (max-width: 768px) {
  .service-item {
    flex-direction: column;
    text-align: center;
  }

  .service-item.service-reverse {
    flex-direction: column;
  }

  .service-image {
    max-width: 100%;
  }
  .service-content {
    text-align: center;
  }
}

/* ------------------------------ PAGINA FACIALES y CORPORALES ------------------------------------*/
.treatment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.treatment-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.treatment-item:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.treatment-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.treatment-info h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-dark);
}

.treatment-info p {
  font-size: 1rem;
  color: var(--text-light);
  margin: 0.5rem 0;
}

.treatment-info .price {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: right;
}

@media screen and (max-width: 768px) {
  .treatment-grid {
    grid-template-columns: 1fr;
  }

  .treatment-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
  }

  .treatment-image {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  .treatment-info h3 {
    font-size: 1.5rem;
  }
  .treatment-info p {
    font-size: 0.9rem;
  }

  .treatment-info .price {
    font-size: 1.1rem;
  }
}

/* ------------------------------- FAQ ---------------------------------------  */
.faq_box {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

/* @media screen and (min-width: 1024px) {
  .faq_box {
    max-width: 900px;
    margin: 0 auto;
  }
} */

.collapsible {
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  text-align: left;
  position: relative;
  transition: background-color 0.3s ease;
}

.collapsible:hover {
  background-color: #f0f0f0;
}

.collapsible:after {
  content: "\002B";
  font-size: 1.5rem;
  color: var(--text-dark);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.collapsible.active:after {
  content: "\2212";
}

.faqcontent {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.5rem;
  transition: max-height 0.4s ease-out;
  background-color: #fff;
}

.faqcontent p {
  color: #555;
  margin: 1rem 0;
  line-height: 1.6;
}

.faqcontent a {
  color: var(--color-principal);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .collapsible:after {
    right: 5px;
  }

  .collapsible {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .collapsible:after {
    right: 5px;
  }

  .faq_box {
    padding: 0;
    margin: auto;
  }
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

/* ------------------------------- REDES SOCIALES ---------------------------------------  */

.instagram__container p {
  max-width: fit-content;
  margin-bottom: 1rem;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: #e6e3fa;
  border-radius: 5rem;
}

.instagram__container .section__header {
  padding-bottom: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--text-light);
}

.instagram__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ------------------------------- FOOTER ---------------------------------------  */

.footer__container {
  display: grid;
  gap: 4rem 2rem;
  border-top: 2px solid var(--primary-color);
  text-align: center;
}

.footer__logo a {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--text-dark);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
}

.footer__col form {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 5rem;
}

.footer__col form input {
  padding-inline: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: transparent;
}

.footer__col form button {
  padding: 0.25rem 1.5rem;
  outline: none;
  border: none;
  color: var(--text-dark);
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 1.8rem;
  color: var(--text-dark);
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.footer__socials a:hover {
  background-color: var(--secondary-color);
  color: var(--white);
  transform: scale(1.1); /* Animación de escalado */
}

.footer__bar {
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--text-dark);
  text-align: center;
  background-color: var(--primary-color);
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */

@media (width > 540px) {
  /* .header__content h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .header__content h1 span {
    font-size: 4rem;
  } */

  .intro__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .instagram__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: sticky;
    top: 0; /* Posición en la parte superior */
    padding: 1.5rem 10rem;
    /* max-width: var(--max-width); */
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 1.5rem;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

  .intro__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__row {
    flex-direction: row;
    align-items: center;
  }

  .about__row:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about__image {
    max-width: unset;
    margin-inline: auto;
  }

  .about__content {
    text-align: left;
  }

  .product__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .product::before {
    /* width: 100%; */
    height: 65%;
  }
}

/*----------------------------- SCROLLBAR ---------------------------*/

::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

/* Estilo del fondo de la scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--white); /* Color del fondo */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de la parte que se desplaza */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color de la scrollbar */
  border-radius: 10px;
  border: 3px solid var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-light); /* Cambia de color al hacer hover */
  border: 3px solid var(--text-light);
}

/*----------------------------- CONTACTO ---------------------------*/

.contact__section {
  background: linear-gradient(135deg, #dfffd6, #f4e6ff);
}

.contact__content {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.contact__form {
  flex: 1;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1rem;
  color: #495057;
  margin-bottom: 0.5rem;
}

.form__group input,
.form__group textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  resize: none;
}

.submit__btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit__btn:hover {
  background: var(--secondary-color);
}

.contact__map {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact__map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: none;
}

@media (max-width: 900px) {
  .contact__content {
    flex-direction: column;
  }

  .contact__map iframe {
    min-height: 300px;
  }
}

@media (max-width: 600px) {
  .section__header {
    font-size: 2rem;
  }

  .submit__btn {
    width: 100%;
  }

  .contact__map iframe {
    min-height: 450px;
  }
}

/*----------------------------- TESTIMONIOS ---------------------------*/

.client__container {
  position: relative;
  isolation: isolate;
}

.client__card {
  position: relative;
  isolation: isolate;
  margin-top: 4rem;
  display: none;
  animation: fadeEffect 1s;
  margin-bottom: -3rem;
}

.client__card.active {
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swiper {
  padding-block: 4rem;
  width: 100%;
}

.swiper-slide {
  min-width: 375px;
}

.client__card img {
  max-width: 400px;
  border-radius: 2rem;
  box-shadow: 30px -30px 0px rgba(0, 0, 0, 0.1);
}

.client__content {
  padding: 2rem;
  background-color: var(--white);
  border-left: 5px solid var(--primary-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5rem);
}

.client__content h4 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.client__content h5 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
}

.client__content p {
  color: var(--text-dark);
}

.client__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.client__btns .btn {
  padding: 10px 12px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.client__btns .btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

@media (width > 768px) {
  .client__btns {
    position: absolute;
    top: 15rem;
    right: 1rem;
    margin-top: 0;
  }
}

@media (width > 540px) {
  .client__content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-left: 2rem;
    width: 75%;
  }

  .client__btns {
    margin-top: 2rem;
  }
}

/* -------------------- botones flotantes ----------------------*/

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0b9b42;
  transition: 0.3s ease-in-out;
}

.btn-scroll-top {
  position: fixed;
  bottom: 100px;
  right: 42px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: var(--primary-color);
}

.btn-scroll-top:hover {
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--white);
}

.btn-scroll-top i {
  font-size: 16px;
  margin-top: 7px;
}

@media (max-width: 768px) {
  .btn-wsp {
    right: 10px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .btn-scroll-top {
    width: 30px;
    height: 30px;
    bottom: 85px;
    right: 22px;
  }

  .btn-scroll-top i {
    font-size: 16px;
  }
}
